h1,
p,
span {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
h1 {
  font-size: large;
}

button {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  font-size: 1rem;
  cursor: pointer;
}

button:hover,
.input:hover {
  background-color: white;
  color: rgba(113, 109, 112);
  transition: 0.3s linear;
}

button:active {
  outline: none;
}

.box-0 {
  float: right;
}
.box-0 input {
  background-color: transparent;
  color: white;
  border: 1px white solid;
  text-align: center;
  font-size: 15px;
  width: 30px;
}

.box-1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-2 input {
  background-color: transparent;
  border: 1px solid white;
  margin: 8px;
  font-size: 15px;
  color: white;
  width: 60%;
  max-width: 600px;
}
.box-2 input::placeholder {
  color: white;
}
input:focus {
  outline: none;
}

.box-2 input:focus {
  background-color: white;
  color: rgba(113, 109, 112);
}

.btn-shuffle {
  width: 200px;
  padding: 3px;
  margin-top: 25px;
}

#name-final {
  border-bottom: 1px solid white;
  width: 150px;
  height: 25px;
  text-align: center;
  color: white;
}

#name-final:hover {
  width: 300px;
  transition: 1s linear;
  cursor: pointer;
}

.hidden {
  display: none;
}

.girl {
  background-color: rgba(231, 139, 199);
}
.boy {
  background-color: rgba(88, 198, 231);
}

/* styling intro */
.intro-box {
  border: 1px solid white;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.btn-play {
  width: 120px;
  align-self: center;
}
.welcome {
  align-self: center;
}

.hide {
  display: none;
}
